<h4 class="text-white">Ruoli della gilda</h4>
<div *ngFor="let guildRole of guildRoles">
  <p class="text-white">{{ guildRole.name }}</p>
  <p class="text-white">{{ guildRole.modifier }}</p>
  <button
    class="btn btn-warning"
    (click)="PrepareToUpdate(guildRole.id); open(roleModal)"
  >
    Modifica
  </button>

  <button class="btn btn-danger" (click)="Delete(guildRole.id)">Elimina</button>
</div>
<button class="btn btn-primary" (click)="open(roleModal)">
  Aggiungi un ruolo
</button>

<ng-template #roleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Aggiungi un Ruolo</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); this.ResetForm()"
    ></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="guildRoleForm">
      <div class="mb-3">
        <label for="roleName" class="form-label">Nome del Ruolo</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          required
        />
        <span *ngIf="isTouchedInvalid('name')">Nome ruolo mancante</span>
      </div>
      <div class="mb-3">
        <label for="roleModifier" class="form-label">Modificatore</label>
        <input
          type="number"
          class="form-control"
          formControlName="modifier"
          required
        />
        <span *ngIf="isTouchedInvalid('modifier')">Modificatore mancante</span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="createorUpdateRole()"
      >
        {{ this.guildRole ? "Modifica" : "Aggiungi" }} ruolo
      </button>
    </form>
  </div>
</ng-template>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Immagine</th>
      <th scope="col">Nome</th>
      <th scope="col">Background</th>
      <th scope="col">Eco</th>
      <th scope="col">Ruolo</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td><img [src]="character.image" class="card-img" /></td>
      <td>{{ character.name }}</td>
      <td>{{ character.background }}</td>
      <td>
        {{ character.eco?.name }}
        <p *ngIf="!character.guildRole">No role assigned</p>
        <p *ngIf="character.guildRole">
          Role assigned: {{ character.guildRole.name }}
        </p>
      </td>
      <td>
        <select name="" id="" #roleSelect>
          <option value="">Seleziona un ruolo</option>
          <option
            *ngFor="let role of guildRoles"
            value="{{ role.id }}"
            [selected]="role.id === character.guildRole?.id"
          >
            {{ role.name }}
          </option>
        </select>
      </td>
      <td>
        <button
          class="btn btn-warning"
          (click)="AddRole(character.id, roleSelect.value)"
          [ngClass]="{
            'btn-warning': character.guildRole,
            'btn-success': !character.guildRole
          }"
        >
          {{ character.guildRole ? "Modifica" : "Aggiungi" }}</button
        ><button
          class="btn btn-danger"
          (click)="RemoveRole(character.id, roleSelect.value)"
        >
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
