<h4 class="text-white">Ruoli della gilda</h4>
<div class="row">
  <div class="col-md-4" *ngFor="let guildRole of guildRoles">
    <div class="card text-white bg-dark mb-3">
      <div class="card-header">{{ guildRole.name }}</div>
      <div class="card-body">
        <p class="card-text">Modifier: {{ guildRole.modifier }}</p>
        <div class="d-flex justify-content-between">
          <button
            class="btn btn-warning"
            (click)="PrepareToUpdate(guildRole.id); open(roleModal)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-vector-pen"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"
              />
              <path
                fill-rule="evenodd"
                d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"
              />
            </svg>
          </button>
          <button class="btn btn-danger" (click)="Delete(guildRole.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-trash-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 my-3">
    <button class="btn btn-primary" (click)="open(roleModal)">
      Aggiungi un ruolo
    </button>
  </div>
</div>

<ng-template #roleModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Aggiungi un Ruolo</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click'); this.ResetForm()"
    ></button>
  </div>

  <div class="modal-body">
    <form [formGroup]="guildRoleForm">
      <div class="mb-3">
        <label for="roleName" class="form-label">Nome del Ruolo</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          required
        />
        <span *ngIf="isTouchedInvalid('name')">Nome ruolo mancante</span>
      </div>
      <div class="mb-3">
        <label for="roleModifier" class="form-label">Modificatore</label>
        <input
          type="number"
          class="form-control"
          formControlName="modifier"
          required
        />
        <span *ngIf="isTouchedInvalid('modifier')">Modificatore mancante</span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        (click)="createorUpdateRole()"
      >
        {{ this.guildRole ? "Modifica" : "Aggiungi" }} ruolo
      </button>
    </form>
  </div>
</ng-template>

<h4 class="text-white">Membri della gilda</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Immagine</th>
      <th scope="col">Nome</th>
      <th scope="col">Background</th>
      <th scope="col">Eco</th>
      <th scope="col">Ruolo</th>
      <th scope="col">Azioni</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let character of characters">
      <td><img [src]="character.image" class="card-img" /></td>
      <td>{{ character.name }}</td>
      <td>{{ character.background }}</td>
      <td>
        {{ character.eco?.name }}
      </td>
      <td>
        <select name="" id="" #roleSelect>
          <option value="">Seleziona un ruolo</option>
          <option
            *ngFor="let role of guildRoles"
            value="{{ role.id }}"
            [selected]="role.id === character.guildRole?.id"
          >
            {{ role.name }}
          </option>
        </select>
      </td>
      <td>
        <button
          class="btn btn-warning"
          (click)="AddRole(character.id, roleSelect.value)"
          [ngClass]="{
            'btn-warning': character.guildRole,
            'btn-success': !character.guildRole
          }"
        >
          {{ character.guildRole ? "Modifica" : "Aggiungi" }}</button
        ><button
          class="btn btn-danger"
          (click)="RemoveRole(character.id, roleSelect.value)"
        >
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
