<div>
  <button *ngFor="let nation of nationsName" (click)="FilterCity(nation)">
    {{ nation }}
  </button>
  <button (click)="filteredCities = cities">Mostra tutte</button>
  <button (click)="OrderCitiesByName()">Ordine alfabetico</button>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let city of filteredCities">
    <div class="card d-flex flex-column h-100">
      <app-single-city [city]="city"></app-single-city>
      <a [routerLink]="['detail', city.id]">Dettagli</a>
    </div>
  </div>
</div>
