.imgBg {
  background-image: url('../../../assets/img/Cities.png');
  background-size: cover;
  height: 30em;
  position: relative;
  width: 100%;
}

.btnSty, .colorDrop {
  background-color: rgba(116, 78, 188, 0.5);
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: rgba(116, 78, 188, 1);
    color: rgba(255, 255, 255, 1)
  }
  .dropdown-item {
    color: white;
    &:hover {
      background-color: rgba(230, 230, 250, 1);
      color: rgba(0 ,0 , 0, 1) ;
    }
  }
}

.colorText {
  color:  rgb(129, 172, 143);
  text-shadow:
  2px 2px 0px black,
  -2px 2px 0px black,
  2px -2px 0px black,
  -2px -2px 0px black;
}

.card {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s ease;
  &:hover {
    background-color: rgba(75, 153, 150, 0.9);
  }
}
