<form [formGroup]="signInForm">
  <div class="form-group">
    <input
      type="text"
      formControlName="name"
      class="form-control"
      placeholder="Il tuo nome"
    />

    <span *ngIf="isTouchedInvalid('name')">Devi inserire il nome</span>
  </div>

  <div class="form-group">
    <input
      type="text"
      formControlName="username"
      class="form-control"
      placeholder="Il tuo username"
    />

    <span *ngIf="isTouchedInvalid('username')">Devi inserire lo username</span>
  </div>

  <div class="form-group">
    <input
      type="date"
      formControlName="dateBirth"
      class="form-control"
      placeholder="Il tuo username"
    />
    <span *ngIf="isTouchedInvalid('dateBirth')">Devi inserire lo username</span>
  </div>

  <div class="form-group">
    <div class="form-group col-6">
      <input
        type="email"
        formControlName="email"
        #email
        class="form-control"
        placeholder="La tua email"
      />
      <span *ngIf="isTouchedInvalid('email')">Email mancante</span>
    </div>

    <div class="form-group col-6">
      <input
        type="password"
        formControlName="password"
        #password
        class="form-control"
        placeholder="La tua password"
      />
    </div>

    <span *ngIf="isTouchedInvalid('password')">Dati non corretti</span>
  </div>

  <button (click)="CreateUser()" class="btn btn-success">Invia</button>
</form>
