.BtnSty {
  border: 2px solid  rgba(116, 78, 188, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
  color:  rgba(210, 190, 247, 0.9);
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;

}
