@model Capstone_____Vescio_Pia_Francesca__BE_.Models.NationModel

@{
    ViewData["Title"] = "Creazione Nazione";
}

<h2 class="text-light d-flex align-content-center justify-content-center pt-2 h3Form">Crea la nazione</h2>
<div class="row justify-content-center align-items-center mt-2 mx-0">
    <div class="col-12 col-sm-9 col-md-4 p-0">
        <form asp-action="Create" enctype="multipart/form-data" class="formStyle">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label labelStyle"></label>
                <input asp-for="Name" class="form-control input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label labelStyle"></label>
                <input asp-for="Description" class="form-control input" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormOfGovernment" class="control-label labelStyle"></label>
                <input asp-for="FormOfGovernment" class="form-control input" />
                <span asp-validation-for="FormOfGovernment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modifier" class="control-label labelStyle"></label>
                <input asp-for="Modifier" type="number" class="form-control input" />
                <span asp-validation-for="Modifier" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Photo" class="control-label labelStyle"></label>
                <input asp-for="Photo" type="file" class="form-control input mb-3" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btnSty" />
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a asp-action="AllNations" class="btn btnHref">Back to List</a>
    </div
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
