<app-single-nation [nation]="currNation"></app-single-nation>
<p>Divinità</p>
<!-- Ecos -->
<!--<p *ngIf="currNation.ecos && currNation.ecos.length === 0">
  Nessun Eco disponibile
</p>
<ul *ngIf="currNation.ecos && currNation.ecos.length > 0">
  <li *ngFor="let eco of currNation.ecos">{{ eco.name }}</li>
</ul>

 Cities
<p>Città</p>
<p *ngIf="currNation.cities && currNation.cities.length === 0">
  Nessuna Città disponibile
</p>
<ul *ngIf="currNation.cities && currNation.cities.length > 0">
  <li *ngFor="let city of currNation.cities">{{ city.name }}</li>
</ul>

Guilds
<p>Gilde</p>
<p *ngIf="currNation.guilds && currNation.guilds.length === 0">
  Nessuna Gilda disponibile
</p>
<ul *ngIf="currNation.guilds && currNation.guilds.length > 0">
  <li *ngFor="let guild of currNation.guilds">{{ guild.name }}</li>
</ul> -->
