.imgBg {
  background-image: url('../../../assets/img/Nations.png');
  background-size: cover;
  height: 30em;
  position: relative;
  width: 100%;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.cards {
  transition: transform 400ms ease-in-out, filter 400ms ease-in-out;
}

.cards .card {
  background-color: transparent;
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  backdrop-filter: blur(16px);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;


  transition: transform 400ms ease-in-out, filter 400ms ease-in-out;
}

.cards:hover .card {
  transform: scale(1.1);
}


.cards:hover > .col:not(:hover) .card {
  filter: blur(2px);
  transform: scale(0.9);
}


.cards .card {
  filter: none;
  transform: scale(1);
}

.btnSty {
  background-color: rgba(72,87, 65, .8);
  color: white;
  &:hover {
    background-color: rgba(72,87, 65, 1);
  }
}

.colorText {
  color:  rgb(122, 87, 70);
  text-shadow:
  2px 2px 0px white,
  -2px 2px 0px white,
  2px -2px 0px white,
  -2px -2px 0px white;
}
