.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.picsum-img-wrapper {
  width: 100%;
  height: 50vh;
  position: relative;
}

.picsum-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;

}
.ngb-carousel {
  transition: transform 0.5s ease-in-out;
}


.btnSty {
  background-color: rgba(116, 78, 188, 0.5);
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    background-color: rgba(116, 78, 188, 1);
    color: rgba(255, 255, 255, 1)
  }
}




.card {
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.5s ease-in-out;
  &:hover {
    background-color: rgba(0, 0 , 0,  0.1);
    transform: translateY(-5px);
  }
}


.badge-pr
{
  position: absolute;
  top: -0.7rem;
  right: 0;
  height: 5em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap:wrap;
  border-top-left-radius: 0;

  &::before, &::after {
    position: absolute;
    content: "";
    width: 1.1em;
    height: 1em;
    background-color: rgb(64, 97, 64);
  }

  &::before {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
    background-color: rgb(90, 145, 90);
  }

  &::after {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
  }
}



.badge-pa
{
  position: absolute;
  top: -0.8rem;
  right: 0;
  height: 5em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap:wrap;
  border-top-left-radius: 0;

  &::before, &::after {
    position: absolute;
    content: "";
    width: 1.1em;
    height: 1em;
    background-color: rgb(196, 95, 58);
  }

  &::before {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
    background-color: rgb(255, 127, 80);
  }

  &::after {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
  }
}



.badge-fr
{
  position: absolute;
  top: -1.25rem;
  right: 1em;
  height: 4.3em;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap:wrap;
  border-top-left-radius: 0;
  z-index: 1;

  &::before, &::after {
    position: absolute;
    content: "";
    width: 1.1em;
    height: 1em;
    background-color:  rgb(49, 123, 129);
  }

  &::before {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
    background-color: rgb(72, 151, 158);
  }

  &::after {
    left: -1.1em;
    top: 0;
    border-top-left-radius: 1em;
  }
}




.bg-f{
  background-color: rgb(72, 151, 158);
}
.bg-pr {
 background-color: rgb(90, 145, 90);
}

.bg-pa {
background-color: rgb(255, 127, 80);
}

.btnShowMore {
  background-color: rgba(72, 151, 158, 0.4);
  &:hover {
    background-color: rgba(72, 151, 158, 1);
  }
}
