html {
  font-size: 14px;

}

* {
    font-family: 'Poppins',sans-serif;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;

}


/*BG DELLE PAGINE*/
.bg {
    background-image: url('../img/bg.jpg');
}

.imgProfile {
    max-width: 2.1rem;
    border-radius: 2em;
}


.container {
    min-height: 87.6vh;
}

footer {
    height: 7vh;
}


a {
    text-decoration: none;
    color: #B3CDE0
}

a:hover {
    color: #D3D3D3;
}
.btnHref {
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btnHref:hover {
        background-color: #B3CDE0;
        color: #ffffff;
}

/**** CSS PER I FORM INZIO ****/
.formStyle {
    min-height: 20rem;
    min-width: 20rem;
    max-width: 100%;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    width: auto;
    height: auto;
}

.formStyle * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    }

.h3Form {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    }

.labelStyle {
    display: block;
    margin-top: 0,8em;
    font-size: 1em;
    font-weight: 500;
}

.input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    margin-top: 0.9em;
    font-size: 0.9em;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.btnSty {
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btnSty:hover {
    background-color: #B3CDE0;
    color: #ffffff;
}

/**** CSS PER I FORM FINE ****/

.bgHeader {
    background-color: rgba(169, 214, 229, 0.4);
}
/*** CSS PER LE TABELLE INIZIO ****/
.tableStyle {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.thStyle {
    background-color: rgba(179, 205, 224, 0.40);
}
.trStyle {
    background-color: rgba(163, 181, 165, 0.60);
}
.trStyle:hover {
    background-color: rgba(123, 156, 122, 0.8);
}

.iconStyWar {
    width: auto;
    background-color: rgba(255, 255, 159, 0.7);
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.iconStyDang {
    width: auto;
    background-color: rgba(196, 77, 86, 0.7);
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.iconStyDetail {
    width: auto;
    background-color: rgba(152, 255, 152, 0.7);
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.iconStyWar:hover {
    background-color: rgba(255, 255, 159, 0.9);
    color: #ffffff;
}
.iconStyDang:hover {
    background-color: rgba(196, 77, 86, 0.9);
    color: #ffffff;
}
.iconStyDetail:hover {
    background-color: rgba(152, 255, 152, 0.9);
    color: #ffffff;
}

.contImg {
    text-align:center
}

.imgTable {
    max-width: 100%;
    max-height: 8rem;
    width: auto; 
    height: auto;
    display: block;
    margin: 0 auto;
}

.card {
    background-color: transparent;
    width: 100%;
}
.list-group {
    background-color: transparent;
}
.imgDetail {
    width: 2em;
}

.styleList {
    background-color: rgba(123, 156, 122, 0.8);
}

.styleNoList {
    background-color: rgba(196, 77, 86, 0.9);
}




.infoText {
    color: rgba(169, 214, 229, 1)
}

.futureStyle {
    background-color: rgba(128, 203, 196, 1)
}

@media(min-width: 576px) {
    .card-img-top {
        width: 20rem;
        height: auto;
        object-fit: contain;
    }


    

    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }

        .container {
            min-height: 86.8vh;
        }

        .card-img-top {
            width: 30em;
            object-fit: contain;
        }
    }

    /*** 401 e 404 page ***/
}
@media(min-width: 992px) {
     .card-img-top {
        width: 40rem;
        height: auto;
        object-fit: contain;
    } 

}
.errorImg {
    max-width: 12rem;
    }




 
 
