.bg {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5em;
}

.text {
  color: rgb(92, 171, 173);
  font-weight: 700;
}

.btnSty {
  border-color: rgba(108, 71, 104, 0.8);
  color: rgba(108, 71, 104, 0.8);
  &:hover {
    border-color: rgba(108, 71, 104, 1);
    color: white;
  }
}
