<div
  class="imgBg d-flex flex-column mb-3 justify-content-center align-items-center"
>
  <p class="display-1 fst-italic colorText">Welcome</p>
  <p class="display-1 fst-italic colorText">To</p>
  <p class="display-1 fst-italic colorText">Zantha</p>
</div>

<p class="mb-4 fst-italic text-white my-5 mx-4 px-4 fs-4">
  In Zantha, il confine tra realtà e fantasia si dissolve come nebbia all’alba,
  e le leggende prendono vita in un mondo sospeso tra sogno e verità, dove
  l’avventura sembra essere scritta nelle stelle stesse. Ogni angolo di questo
  vasto regno nasconde segreti millenari, tesori dimenticati e storie ancora da
  raccontare, pronte a risvegliarsi al passaggio dei coraggiosi. Qui, il vento
  porta echi di antiche saghe, mentre le ombre degli alberi sussurrano di
  misteri mai svelati. Questo straordinario reame non è solo una terra da
  esplorare, ma un enigma vivente, che invita chiunque vi metta piede a scoprire
  l’inesplorabile, a vivere avventure epiche che solo tu, con le tue scelte,
  potrai plasmare.
</p>

<div class="row">
  <div class="col-12 col-lg-4">
    <img src="../../../assets/img/MondoZantha.jpg" class="card-img" />
  </div>
  <div class="col-12 col-lg-8">
    <h2 class="fst-italic text-white">Cos'è Zantha?</h2>
    <p class="text-white">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, eum nisi?
      Mollitia alias sit, obcaecati provident, impedit non dignissimos saepe
      deserunt excepturi, beatae voluptas placeat odio. Amet deserunt neque
      facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
      vitae possimus ipsa sapiente provident fuga iste aut debitis fugiat dolore
      repudiandae reprehenderit id, dolorem officia molestias expedita non ipsam
      quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
      eveniet repudiandae sapiente magni, alias perferendis cum laboriosam, eos
      deserunt illo, molestias iusto ex enim vero? Nobis expedita quidem odit
      voluptatibus!
    </p>
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-2 mt-5">
  <div class="col">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, eum nisi?
      Mollitia alias sit, obcaecati provident, impedit non dignissimos saepe
      deserunt excepturi, beatae voluptas placeat odio. Amet deserunt neque
      facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
      vitae possimus ipsa sapiente provident fuga iste aut debitis fugiat dolore
      repudiandae reprehenderit id, dolorem officia molestias expedita non ipsam
      quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
      eveniet repudiandae sapiente magni, alias perferendis cum laboriosam, eos
      deserunt illo, molestias iusto ex enim vero? Nobis expedita quidem odit
      voluptatibus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, eum nisi?
      Mollitia alias sit, obcaecati provident, impedit non dignissimos saepe
      deserunt excepturi, beatae voluptas placeat odio. Amet deserunt neque
      facere! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores
      vitae possimus ipsa sapiente provident fuga iste aut debitis fugiat dolore
      repudiandae reprehenderit id, dolorem officia molestias expedita non ipsam
      quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
      eveniet repudiandae sapiente magni, alias perferendis cum laboriosam, eos
      deserunt illo, molestias iusto ex enim vero? Nobis expedita quidem odit
      voluptatibus!
    </p>
  </div>
  <div class="col">
    <img src="../../../assets/img/Ramaol.jpg" class="card-img" />
  </div>
</div>

<div class="row row-cols-1 row-cols-lg-3 mt-5">
  <div class="col">Carosello Immagini Sessioni</div>
  <div class="col">Carosello Articoli</div>
  <div class="col">Carosello Eventi</div>
</div>
