.height {
  min-height: 75vh;
}

.formBg {
  background-color: rgba(255,255, 255, 0.2);

}

.text {
 color: #D0D0D0;
}

.btnSty {
  color: #D0D0D0;
}
.btnSty {
  background-color: rgba(127, 170, 159, 0.8);
}

.btnSty:hover {
  background-color: rgba(127, 154, 159, 1);
}
