@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.Role

@{
    ViewData["Title"] = "CreateRole";
}

<h2 class="text-light d-flex align-content-center justify-content-center pt-2 h3Form">Crea la razza</h2>
<div class="row justify-content-center align-items-center mt-2 mx-0">
    <div class="col-12 col-sm-9 col-md-4 p-0">
        <form asp-action="CreateRole" class="formStyle">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label labelStyle"></label>
                <input asp-for="Name" class="form-control input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btnSty" />
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <a asp-action="AllRoles" class="btn btnHref">Back to List</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
