@model Capstone_____Vescio_Pia_Francesca__BE_.Entity.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Dettaglio Nuovo Utente";
}

<div class="card shadow-lg">
    <div class="card-header bgHeader text-white mt-5">
        <h2>Ciao, @Model.FirstName!</h2>
    </div>
    <div class="card-body">
        <p class="fs-3 text-light">Benvenuto in Zantha Universe!</p>
        <p class="mb-4 text-light">Ecco il tuo codice per loggare: <strong class="text-danger">@Model.AdminCode</strong></p>
        <p class="fst-italic text-light">Non dimenticarlo!</p>
        <a asp-action="Login" asp-controller="Auth" class="btn btnHref">Vai al Login</a>
    </div>
</div>