@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center py-5">
    <div class="d-flex justify-content-center mb-3">
        <img src="/img/sadface.png" alt="Pagina non trovata" class="errorImg">
    </div>

    <div class="d-flex flex-column align-items-center">
        <h1 class="display-4 text-danger mb-3">Oops!</h1>
        <p class="fs-5 text-light">
            Non hai i permessi necessari per accedere a questa pagina.
        </p>
        <a class="btn btnHref mt-4" asp-area="" asp-controller="Home" asp-action="Index">
            Torna alla Home
        </a>
    </div>
