<form [formGroup]="createCharacterForm">
  <div class="form-group">
    <input
      type="text"
      formControlName="name"
      class="form-control"
      placeholder="Il nome del personaggio"
    />

    <span *ngIf="isTouchedInvalid('name')">Devi inserire il nome</span>
  </div>

  <div class="form-group">
    <label for="guildId">Gilda:</label>
    <select formControlName="guildId" class="form-control">
      <option value="null">--Please choose an option--</option>
      <option *ngFor="let guild of guilds" [value]="guild.id">
        {{ guild.name }}
      </option>
    </select>
    <span *ngIf="isTouchedInvalid('guildId')">Devi selezionare la gilda</span>
  </div>

  <div class="form-group">
    <label for="cityId">Città:</label>
    <select formControlName="cityId" class="form-control">
      <option value="null">--Please choose an option--</option>
      <option *ngFor="let city of cities" [value]="city.id">
        {{ city.name }}
      </option>
    </select>
    <span *ngIf="isTouchedInvalid('cityId')">Devi selezionare la città</span>
  </div>

  <div class="form-group">
    <label for="raceId">Razza:</label>
    <select formControlName="raceId" class="form-control">
      <option value="null">--Please choose an option--</option>
      <option *ngFor="let race of races" [value]="race.id">
        {{ race.name }}
      </option>
    </select>
    <span *ngIf="isTouchedInvalid('raceId')">Devi selezionare una razza</span>
  </div>

  <div class="form-group">
    <label for="ecoId">Eco:</label>
    <select formControlName="ecoId" class="form-control">
      <option value="null">--Please choose an option--</option>
      <option *ngFor="let eco of ecos" [value]="eco.id">
        {{ eco.name }}
      </option>
    </select>
    <span *ngIf="isTouchedInvalid('ecoId')">Devi selezionare l'eco</span>
  </div>

  <div>
    <input type="file" (change)="onFileSelected($event)" />
  </div>
  <button
    type="submit"
    (click)="CreateCaracter()"
    [disabled]="!createCharacterForm.valid"
  >
    Upload
  </button>
</form>
