<div>
  <button *ngFor="let nation of nationsName" (click)="FilterGuild(nation)">
    {{ nation }}
  </button>
  <button (click)="filteredGuilds = guildsCopy">Mostra tutte</button>
  <button (click)="OrderGuildByName()">Ordina in ordine alfabeitco</button>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let guild of filteredGuilds">
    <div class="card d-flex flex-column h-100">
      <app-single-guild [guild]="guild"></app-single-guild>
      <a [routerLink]="['detail', guild.id]">Dettagli</a>
    </div>
  </div>
</div>
