<div class="imgBg py-3 d-flex justify-content-center align-items-center">
  <p class="display-1 fst-italic colorText">Gilde</p>
</div>

<div class="my-4">
  <p class="fst-italic text-white fs-5">
    Le gilde di Zantha sono gruppi organizzati che riflettono le tradizioni e i
    bisogni di ogni nazione. Ciascuna gilda ha un ruolo specifico, che può
    spaziare dalla difesa del territorio alla protezione della natura, dalla
    ricerca di conoscenza alla pratica della magia, fino alla sopravvivenza in
    ambienti estremi o al mantenimento della pace e dell'ordine. Ogni nazione ha
    gilde che incarnano i loro valori e le loro sfide, con guerrieri,
    esploratori, maghi, monaci e studiosi che lavorano per proteggere il loro
    popolo e preservare l'equilibrio nelle loro terre.
  </p>
</div>

<div
  class="row row-cols-1 row-cols-lg-2 justify-content-start justify-content-lg-between"
>
  <div class="col">
    <div class="dropdown">
      <p class="">
        <button
          type="button"
          class="btn btnSty fs-5 dropdown-toggle"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
        >
          Seleziona in base alla nazione
        </button>
      </p>
      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        class="dropdown-menu dropdown-menu-start colorDrop"
        aria-labelledby="dropdownMenuButton"
      >
        <button
          *ngFor="let nation of nationsName"
          (click)="FilterGuild(nation); DropDownClose('first')"
          class="dropdown-item"
        >
          {{ nation }}
        </button>
        <button
          (click)="filteredGuilds = guilds; DropDownClose('first')"
          class="dropdown-item"
        >
          Mostra tutte
        </button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="dropdown">
      <p class="">
        <button
          type="button"
          class="btn btnSty fs-5 dropdown-toggle"
          (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2"
          aria-controls="collapseExample"
        >
          Ordina
        </button>
      </p>
      <div
        #collapse2="ngbCollapse"
        [(ngbCollapse)]="isCollapsed2"
        class="dropdown-menu dropdown-menu-start colorDrop"
        aria-labelledby="dropdownMenuButton"
      >
        <button
          (click)="OrderGuildByName(); DropDownClose('second')"
          class="dropdown-item"
        >
          Alfabetico
        </button>
        <button
          (click)="OrderEcoByPower(); DropDownClose('second')"
          class="dropdown-item"
        >
          Potenza
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let guild of filteredGuilds">
    <div class="card d-flex flex-column h-100 p-2">
      <h4 class="text-white flex-grow-1">{{ guild.name }}</h4>
      <a [routerLink]="['detail', guild.id]" class="btn btnSty">Dettagli</a>
    </div>
  </div>
</div>

<app-cooming-soon></app-cooming-soon>
