<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone_____Vescio_Pia_Francesca__BE_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone_____Vescio_Pia_Francesca__BE_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <header class="m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ZanthaVerse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.IsInRole("Admin"))
                        {
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Sezione admin
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="AllRoles">Ruoli</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="AllUsers">Utenti</a></li>
                            </ul>
                        </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Sub-Admin"))
                        {
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sezione gestione mondo
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Race" asp-action="AllRaces">Races</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Nation" asp-action="AllNations">Nations</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="City" asp-action="AllCities">Cities</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Eco" asp-action="AllEcos">Ecos</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Guild" asp-action="AllGuilds"> Guilds </a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Sezione community
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="AllEvents"> Events </a></li>
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="AllArticles"> Articles </a></li>
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="MyArticle"> My Articles </a></li>
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Character" asp-action="AllCharacters"> Characters </a></li>
                                </ul>
                            </li>

                        }

                        

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {  
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                        }
                        <li class="nav-item">
                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Profile"> My Profile </a>
                        </li>

                    </ul>

                    @if (!User.Identity?.IsAuthenticated ?? false)
                    {
                        <span class="user-greeting text-light">Ciao Anonimo</span>
                    }
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <span class="user-greeting text-light">Ciao @User.Identity.Name!</span>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Profile"> My Profile </a>
                        </li>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="bg">
        <div class="container p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    </div>
    <footer class="footer text-muted bg-dark">
        
            &copy; 2024 - Capstone_____Vescio_Pia_Francesca__BE_ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
