<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Capstone_____Vescio_Pia_Francesca__BE_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Capstone_____Vescio_Pia_Francesca__BE_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <header class="m-0 p-0">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ZanthaVerse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        @if(User.IsInRole("Admin"))
                        {
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="AllRoles">Ruoli</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Auth" asp-action="AllUsers">Utenti</a></li>
                            </ul>
                        </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("Sub-Admin"))
                        {
                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                     Gestione mondo
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Race" asp-action="AllRaces">Races</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Nation" asp-action="AllNations">Nations</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="City" asp-action="AllCities">Cities</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Eco" asp-action="AllEcos">Ecos</a></li>
                                    <li> <a class="nav-link text-light" asp-area="" asp-controller="Guild" asp-action="AllGuilds"> Guilds </a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    Community
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Event" asp-action="AllEvents"> Events </a></li>
                                    @if (User.IsInRole("Admin"))
                                    {    
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="AllArticles"> Articles </a></li>
                                    }
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Article" asp-action="MyArticle"> My Articles </a></li>
                                    <li><a class="nav-link text-light" asp-area="" asp-controller="Character" asp-action="AllCharacters"> Characters </a></li>
                                </ul>
                            </li>

                        }
                        @if (!(User.Identity?.IsAuthenticated ?? false))
                        {    
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                        }
                    </ul>

                    
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div class="dropdown-toggle ms-auto">
                            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@Url.Action("GetUserImage", "Auth", new { id =  User.FindFirst("Id")?.Value})"
                                     alt="Propic" class="imgProfile d-none d-md-inline" />
                                <span class="d-md-none">Impostazioni</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end dropdown-menu-start">
                                <li><a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Profile"> My Profile </a></li>
                                <li><a class="nav-link text-light" asp-area="" asp-controller="Auth" asp-action="Logout">Logout</a></li>
                            </ul>
                        </div>
                       
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="bg">
        <div class="container p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    </div>
    <footer class="foot text-muted bg-dark text-center text-lg-start bg-dark text-muted">
        <div class="row m-0 py-4">

            <div class="col-md-4 col-lg-4 mx-auto mb-2">
                <h6 class="text-uppercase fw-bold mb-2 text-light fs-5">
                    Zanthaverse
                </h6>
                <p class="small text-light">
                    Gestisci nazioni, eventi e personaggi nel mondo di Zanthaverse e scopri nuove avventure.
                </p>
            </div>

            <div class="col-md-4 col-lg-4 mx-auto mb-2">
                <h6 class="text-uppercase fw-bold mb-2 text-light fs-5">Link Utili</h6>
                <p class="small"><a class="text-light" asp-controller="Home" asp-action="Index" class="text-reset">Home</a></p>
                <p class="small"><a class="text-light" asp-controller="Guild" asp-action="AllGuilds" class="text-reset">Gilde</a></p>
                <p class="small"><a class="text-light" asp-controller="Character" asp-action="AllCharacters" class="text-reset">Personaggi</a></p>
                <p class="small"><a class="text-light" asp-controller="Eco" asp-action="AllEcos" class="text-reset">Echi</a></p>
            </div>

            <div class="col-md-4 col-lg-4 mx-auto mb-2">
                <h6 class="text-uppercase fw-bold mb-2 text-light fs-5">Account</h6>
                @if (!(User.Identity?.IsAuthenticated ?? false))
                {
                    <p class="small"><a class="text-light" asp-controller="Auth" asp-action="Login" class="text-reset">Login</a></p>
                    <p class="small"><a class="text-light" asp-controller="Auth" asp-action="Register" class="text-reset">Registrati</a></p>
                }
                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <p class="small"><a class="text-light" asp-controller="Auth" asp-action="Profile" class="text-reset">Profilo</a></p>
                }
            </div>
        </div>

        

        <!-- Copyright -->
        <div class="text-center p-1 text-light">
            © 2024 Copyright: Zanthaverse
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
