<h2>Elementi trovati con: {{ searchQuery }}</h2>

<h4>Nazioni trovate con questo risultato</h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let nation of nations">
    <div class="card d-flex flex-column h-100">
      <app-single-nation [nation]="nation"></app-single-nation>
      <a [routerLink]="['detail', nation.id]">Dettagli</a>
    </div>
  </div>
</div>

<h4>Gilde trovate con questo risultato:</h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let guild of guilds">
    <div class="card d-flex flex-column h-100">
      <app-single-guild [guild]="guild"></app-single-guild>
      <a [routerLink]="['detail', guild.id]">Dettagli</a>
    </div>
  </div>
</div>

<h4>Echi trovati con questo risultato:</h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let eco of ecos">
    <div class="card d-flex flex-column h-100">
      <app-single-eco [eco]="eco"></app-single-eco>
      <a [routerLink]="['detail', eco.id]">Dettagli</a>
    </div>
  </div>
</div>

<h4>Città trovate con questo risultato:</h4>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <div class="col my-3" *ngFor="let city of cities">
    <div class="card d-flex flex-column h-100">
      <app-single-city [city]="city"></app-single-city>
      <a [routerLink]="['detail', city.id]">Dettagli</a>
    </div>
  </div>
</div>
